@use './base/reset';
@use './base/font';
@use './abstracts/variables';
@use './abstracts/mixins';
@use './abstracts/common';
@use './abstracts/animation';

//메인
main {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  position: relative;

  //컨테이너
  .container {
    //공통
    .sec {
      margin-bottom: 80px;
      width: 100%;
      &-inner {
        dl {
          dt {
            font-size: 28px;
            color: variables.$main-color;
            margin-bottom: 10px;
            font-family: 'Escoredream';
            font-weight: 700;
          }
          dd {
            text-align: justify;
            margin-bottom: 60px;
            .font-large {
              font-size: 120%;
            }
            b {
              font-weight: 700;
            }
            span {
              //   text-decoration: underline;
              //   text-underline-offset: 7px;
              font-weight: 700;
              color: variables.$sub-color;
            }
            h6 {
              font-weight: 600;
              font-size: 18px;
              border: 1px solid variables.$sub-color;
              width: fit-content;
              padding: 3px 20px;
              box-sizing: border-box;
              color: variables.$sub-color;
              width: fit-content;
              border-radius: 30px;
            }
            p {
              margin-bottom: 30px;
            }
            .img-bx {
              width: 100%;
              min-height: 500px;
            }
          }
          &.type01 {
            padding: 20px 0 20px 30px;
            height: fit-content;
            position: relative;

            &::after {
              content: '';
              width: 4px;
              height: 100%;
              background-color: variables.$sub-color;
              display: block;
              left: 0;
              top: 0;
              position: absolute;
            }
            dd {
              margin-bottom: 0;
            }
          }
          &.type02 {
            dt {
              margin-bottom: 30px;
              span {
                display: block;
              }
              &::after {
                content: '';
                width: 100%;
                height: 1px;
                background-color: variables.$sub-color;
                display: block;
                margin-top: 20px;
              }
            }
          }
        }
        .btn-link {
          display: flex;
          align-items: center;
          gap: 5px;
          margin-top: 10px;
          color: variables.$main-color;
          position: relative;
          width: fit-content;
          &::after {
            content: '';
            position: absolute;
            width: 100%;
            transform: scaleX(0);
            height: 2px;
            bottom: -5px;
            left: 0;
            background-color: variables.$main-color;
            transition: transform 0.25s ease-out;
            transform-origin: bottom left;
          }
          &:hover {
            &::after {
              transform: scaleX(1);
            }
          }
          .ico {
            display: block;
            width: 16px;
          }
        }
      }
      ol {
        &::before {
          content: '';
          height: 2px;
          background-color: variables.$main-color;
          display: block;
          margin-bottom: 30px;
        }
        li {
          margin-bottom: 20px;
          &:first-child {
            p {
              display: flex;
              gap: 10px;
              span {
                &:first-child {
                  display: flex;
                  align-items: center;
                  gap: 10px;
                  &::after {
                    content: '';
                    display: block;
                    width: 2px;
                    height: 20px;
                    background-color: #ccc;
                  }
                }
              }
            }
          }
          &:last-child {
            margin-bottom: 0;
          }
          h6 {
            font-size: 22px;
            margin-bottom: 5px;
            font-weight: 800;
            span {
              color: variables.$main-color;
            }
          }
        }
      }
    }
    //섹션01
    .sec01 {
      .sec-inner {
        .btn-home {
          margin-bottom: 60px;
          display: flex;
          align-items: center;
          gap: 5px;
          color: variables.$main-color;
          width: fit-content;

          .ico {
            width: 26px;
            display: block;
            transform: translateY(-2px);
          }
        }
        .tit-bx {
          font-family: 'Escoredream';
          margin-bottom: 80px;

          h5 {
            font-size: 22px;
            color: variables.$gray-color;
            font-weight: 600;
            line-height: 1.2;
          }
          h1 {
            font-size: 40px;
            font-weight: 800;
            span {
              color: variables.$main-color;
            }
          }
        }
      }
    }

    .project-sec {
      .sec-inner {
        dl {
          dd {
            @include mixins.flex-between;
            gap: 10px;
          }
        }
        .btn-grid {
          background: none;
          border: none;
          display: flex;
          align-items: center;
          gap: 7px;
          font-size: 17px;
          color: variables.$main-color;
        }
        .card-inner {
          padding: 20px 0;
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          gap: 30px;
          &.four {
            grid-template-columns: 1fr 1fr 1fr 1fr;
            .card-item {
              .img-bx {
                height: 120px;
              }
            }
          }
          .card-item {
            background: rgba(255, 255, 255, 0.75);
            backdrop-filter: blur(12px) saturate(180%);
            -webkit-backdrop-filter: blur(12px) saturate(180%);
            background-color: rgba(255, 255, 255, 0.5);
            box-shadow:
              0 15px 20px -10px rgba(0, 20, 40, 0.25),
              inset 0 1px 2px rgba(255, 255, 255, 0.7);
            border: 1px solid rgba(255, 255, 255, 0.5);
            padding: 2rem 2.5rem 2.8rem;
            transition: all 0.3s ease;
            border: 1px solid #e4e4e4;
            padding: 20px;
            box-sizing: border-box;
            word-break: keep-all;
            &:hover {
              transform: translateY(-10px);
              h5 {
                .ico {
                  transform: translateX(5px);
                }
              }
            }
            .img-bx {
              margin-bottom: 20px;
              width: 100%;
              height: 160px;
              overflow: hidden;
              position: relative;
              img {
                object-fit: cover;
                object-position: top;
                height: 100%;
              }
              &::after {
                content: '';
                @include mixins.position-center;
                display: block;
                width: 100%;
                height: 100%;
                background-color: #00000000;
                box-shadow: 0px -1px 10px 0px rgba(0, 0, 0, 0.2) inset;
                -webkit-box-shadow: 0px -1px 10px 0px rgba(0, 0, 0, 0.2) inset;
                -moz-box-shadow: 0px -1px 10px 0px rgba(0, 0, 0, 0.2) inset;
              }
            }
            h6 {
              font-size: 16px;
              color: variables.$gray-color;
            }
            h4 {
              font-size: 20px;
              font-weight: 700;
              margin-bottom: 10px;
            }
            h5 {
              margin-top: 5px;
              color: variables.$main-color;
              display: flex;
              align-items: center;
              gap: 5px;
              font-size: 15px;
              .ico {
                width: 13px;
                display: block;
                transition: all 0.3s ease;
              }
            }
            p {
              min-height: 60px;
              overflow: hidden;
              text-overflow: ellipsis;
              display: inline-block;
              display: -webkit-box !important;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;
              display: none !important;
            }
          }
        }
      }

      // 로딩 애니메이션
      .loader-wrap {
        display: flex;
        justify-content: center;
        padding: 40px 0;

        .line-loader {
          display: flex;
          gap: 6px;
          align-items: center;

          span {
            width: 6px;
            height: 18px;
            background: variables.$sub-color;
            border-radius: 2px;
            animation: wave 1s infinite ease-in-out;

            &:nth-child(2) {
              animation-delay: 0.15s;
            }

            &:nth-child(3) {
              animation-delay: 0.3s;
            }
          }
        }
      }
    }
    .list-git {
      li {
        padding: 15px 10px;
        box-sizing: border-box;
        border-bottom: 1px solid #ccc;
        transition: 0.2s all;
        &:hover {
          background-color: #f5f5f575;
          a {
            .ico {
              transform: translateX(5px);
            }
          }
        }
        a {
          display: flex;
          align-items: center;
          justify-content: space-between;
          .ico {
            width: 20px;
            transition: 0.2s all;
          }
          h5 {
            font-size: 18px;
            font-weight: 700;
            color: variables.$sub-color;
          }
          p {
            margin-bottom: 0;
            font-size: 16px;
            margin-top: 5px;
            &:last-child {
              margin-top: 10px;
              font-size: 14px;
              display: flex;
              align-items: center;
              gap: 15px;
              span {
                color: #7c7c7c;
                font-weight: 400;
                margin-bottom: 0;
                &:first-child {
                  position: relative;
                  &::after {
                    position: absolute;
                    top: 50%;
                    right: -8px;
                    transform: translate(-50%, -50%);
                    content: '';
                    width: 1px;
                    height: 12px;
                    background-color: #0e0e0e6e;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  //스크롤 애니메이션 제어
  .container {
    .type01 {
      dt,
      dd {
        opacity: 0;
      }
      &::after {
        opacity: 0;
      }
      &.show {
        dt,
        dd {
          animation: fade-right 0.7s 0.5s ease-in-out forwards;
        }
        &::after {
          animation: fade-border02 0.5s 0s ease-in-out forwards;
        }
      }
    }
    .type02 {
      dt span,
      dt::after,
      dd {
        opacity: 0;
      }
      &.show {
        dt {
          span {
            animation: fade-up 0.7s 0.5s ease-in-out forwards;
          }
          &::after {
            animation: fade-border 0.5s 0s ease-in-out forwards;
          }
        }
        dd {
          animation: fade-up 0.7s 0.5s ease-in-out forwards;
        }
      }
    }
    .type03 {
      &::before {
        opacity: 0;
      }
      li {
        opacity: 0;
      }
      &.show {
        &::before {
          animation: fade-border03 0.5s 0s ease-in-out forwards;
        }
        li {
          animation: fade-up 0.7s 0.5s ease-in-out forwards;
        }
      }
    }
    .card-wrap {
      opacity: 0;
      &.show {
        animation: fade-in 0.7s 0.2s ease-in-out forwards;
      }
    }
  }
}
//랩탑 사이즈 L
@media screen and (max-width: 1600px) {
  main {
    .container {
      .project-sec {
        .sec-inner {
          .btn-grid {
            display: none;
          }
          .card-inner {
            grid-template-columns: 1fr 1fr 1fr !important;
          }
        }
      }
    }
  }
}
// 랩탑 사이즈 S
@media screen and (max-width: 1200px) {
  main {
    .container {
      .sec-inner {
        dl {
          dd {
            .img-bx {
              min-height: auto;
            }
          }
        }
      }
      .project-sec {
        button {
          display: none;
        }
        .sec-inner {
          .card-inner {
            grid-template-columns: 1fr 1fr !important;
          }
        }
      }
    }
  }
}
// 태블릿 L
@media screen and (max-width: 1024px) {
  main {
    .container {
      .sec01 {
        .sec-inner {
          .btn-home {
            display: none;
          }
        }
      }
    }
  }
}
// 모바일
@media screen and (max-width: 576px) {
  main {
    .container {
      .sec {
        margin-bottom: 40px;
        dl {
          dt {
            font-size: 26px;
          }
          dd {
            word-break: break-all;
            p {
              margin-bottom: 10px;
              word-break: break-all;
            }
          }
        }
        ol {
          li {
            h6 {
              font-size: 18px;
            }
            p {
              font-size: 15px;
            }
          }
        }
      }
      .sec01 {
        .sec-inner {
          .tit-bx {
            margin-bottom: 40px;
            h1 {
              font-size: 30px;
            }
            h5 {
              font-size: 18px;
            }
          }
          dl {
            padding: 5px 0 5px 20px;
            &.type01 {
              &::after {
                width: 3px;
              }
            }
          }
        }
      }
      .project-sec {
        button {
          display: none;
        }
        .sec-inner {
          dl {
            dd {
              margin-bottom: 20px;
            }
          }
          .card-inner {
            grid-template-columns: 1fr !important;
            .card-item {
              h6 {
                font-size: 14px;
              }
              h4 {
                font-size: 18px;
              }
            }
          }
        }
      }
      .card-wrap {
        opacity: 1;
        &.show {
          animation: none;
        }
      }
    }
  }
}
